<?xml version="1.0" encoding="UTF-8"?>
<!-- JdbcTestMapper.xml 파일
     => "jdbc_test" 테이블을 다루는 SQL문이 들어 있다.
  -->
  
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO 객체를 자동으로 생성하려면,
     namespace의 값이 인터페이스 이름과 같아야 한다. -->
<mapper namespace="java100.app.dao.ScoreDao">

    <resultMap type="score" id="scoreMap">
        <id column="no" property="no"/>
    </resultMap>

    <sql id="select1">
        select
            no, name, kor, eng, math
    </sql>

    <!-- select를 실행할 때 정렬 값을 입력 받기 위해 
         Map 객체를 파라미터로 받는다.  -->
    <select id="selectList" resultMap="scoreMap" parameterType="map">
        <include refid="select1"/>
        from ex_score
    </select>
    
    <insert id="insert" parameterType="score">
        insert into ex_score(name,kor,eng,math)
        values(#{name},#{kor},#{eng},#{math})
    </insert>
    
    <update id="update" parameterType="score">
        update ex_score set 
            name=#{name},
            kor=#{kor}, 
            eng=#{eng},
            math=#{math}
        where no=#{no}
    </update>

    <delete id="delete" parameterType="int">
        delete from ex_score where no=#{value}
    </delete>
    
    <select id="selectOne" resultMap="scoreMap" parameterType="int">
        <include refid="select1"/>
        from ex_score
        where no=#{value}
    </select>
</mapper>  









