@charset "UTF-8";

footer {
    text-align: center;
    background-color: navy;
    color: white;
}
.container{
   width: 680px
}

.toolbar {
    margin: 3px 0px;
}

.searchbox {
    display: inline-block;
    float: right;
}